<!-- 
	VoteIT (https://github.com/cthit/VoteIT)
	Created by Robin Sveningson, styrIT14/15
-->

<!doctype html>
<html>
	<head>
		<title>VoteIT</title>

		<!-- Stylesheets -->
		<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css'>
		<link rel='stylesheet' href='../../public/css/general.css'>

		<!-- Scripts -->
		<script type='text/javascript'>
		</script>
	</head>
	<body>
		<!-- Access code form -->
		<form action='/' method='post'>
			<div class='centeredWrapper'>
				<!-- If there exists a message, it's an access denied message. -->
				<% if (message.length > 0) { %>
					<div class='alert alert-danger' role='alert'>
						<p><%= message %></p>
					</div>
				<% } %>
				<h3>VoteIT</h3>
				<div class='form-group'>
					<input type='password' class='form-control' name='access[code]' placeholder='Accesskod'>
				</div>
				<button type='submit' class='btn btn-default'>Anslut</button>
			</div>
		</form>
	</body>
</html>